
/*http://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_webpage&stacked=h*/

* {
    margin: 0 auto;
    font-family: Noto;
}

html, body {
 height: 100%;
}

.header {
    border-color: white;
    border-style: dashed;
    border-width: 2px;
}

body {
    margin: 0;
    background-color: #0d0d10;
}

.glyphicon{
    height: 35px;
    margin: -8px;
    margin-left: 5px;
}

.side {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat:no-repeat;
}

.right_side {
    border-color: white;
    border-style: dashed;
    border-width: 2px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


.form-container {
    display: inline-block;
    padding: 2em;
    font: 21px sans-serif;
    color: white;
}

.logo {width: 125px;
}

.btn{
    padding: 5px 30px;
    font: bold 1em sans serif;
    color: black;
    border: 2px solid white;
    background: white;
    text-decoration: none;
}

.btn:hover, .btn:focus{
    outline: none;
    background: #000;
    color: #FFF;
}

.css-input {
    font : 1em  sans-serif;
    border: none;
    padding: 0 10px;
    margin: 0;
    margin-bottom: 20px;
    width: 540px;
    background: white;
    height: 2em;
}

.css-input:focus {
    outline: none;
}


.header {
    display: inline-block;
    padding: 10px;
    position : absolute;
    width : 100%;
}

.content {
    margin-top: 50px;
    padding: 10px;
    display: inline-block;
    position: absolute;
 }

ul.form {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

h2 {
    font-size: 4em;
    text-align: center;
    color: white;
}