.top_bar {
  height: 100px;
  background-color: whitesmoke;
}

.menu {
    height: 100%;
    width: 60%;
}

.nav {
    text-align: center;
}

.nav li {
    display: inline;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.75em;
    font-weight: 600;
    font-family: Arial;
}

@media (max-width: 1333px) {
    .wrapper {
        margin-top: 50px;
    }
}

@media (min-width: 1333px) {
    .nav {
        margin-top: -66px;
    }

    .nav li:nth-child(1){
        float: left;
    }

    .nav li:nth-child(2){
        float: right;
    }

}


.title {
    background: url("img/titreBlack.png") no-repeat;
    background-size: 100% auto;
    width: 550px;
    height: 100px;
}

a#home_link {
    text-decoration: none;
    font-family: arial;
    font-size: 1.75em;
    font-weight: 700;
    color: white;
}

.box_menu {
  display:inline-block;
  height:70px;
  width:100px;
    background-size: 60%;
    background-repeat: no-repeat;
}

.box1 {
    background-image: url("img/home.png");

}

.box2 {
    background-image: url("img/album.png");
}

.box3 {
    position: absolute;
    right: 15px;
    top: 15px;
    background-image: url("img/logout.png");
}

.border {
  border-color: yellow;
  border-style: dashed;
  border-width: 2px;
}

.wrapper {
    border-color: blue;
    border-style: dashed;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    background: url("img/main_bg.png") no-repeat;
    background-position-x: center;
}

.center {
  height:50vh;
  display:flex;
  align-items:center;
  justify-content:center;
  border-color: blue;
  border-style: dashed;
  border-width: 2px;
  margin:100px;
}

.top_welcome {
    padding: 10;
}

.center h1{
  margin:10;
}

.left_side {
  display: inline-block;
  height: 100%;
  width:50%;
  background-color:darkgrey;
  margin: 0;
}

.right_side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 50px;
}

.right_side img{
  width: 30%;
}

.stream {
    display: flex;
    flex-direction: column;
    padding: 20 30 0;
}

.video{
  transition: all .5s linear;
  width: 640px;
  height: 480px;
}

.buttons{
    display: flex;
    padding: 5px;
    margin: 0 auto;
}

.buttons h2 {
    font-size: 2em;
    font-family: Arial;
    font-weight: 600;
}

#snap {
    font-family: Arial;
    font-size: 1.25em;
    font-weight: 600;
    color: #ffffff;
    border: none;
    background: #14264b;
    text-decoration: none;
}

#snap:hover {
    background: #23467a;
    text-decoration: none;
}

.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.photoshop {
    display: flex;
    flex-direction: column;
}

.cols {
    display: flex;
}

.col1 {
    margin-right: 20px;
    background: #23467a;
    box-shadow: 0 0 10px #14264b;
}

.col3 {
    margin-left: 20px;
    background: #23467a;
    box-shadow: 0 0 10px #14264b;

}

.canvasDiv {
    background: steelblue;
}

.canvasDiv {
    position: relative;
    width: 480px;
    height: 360px;
}

#layer1 {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

#layer2 {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

#layer3 {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

.frames {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.frame:hover {
    background: green;
    opacity: 0.1;
}

.stamp {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#stamp1 {
    background-image: url("img/Fedora.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
}

#frame1 {
    background-image: url("img/fireSmall.png");
}

#frame2 {
    background-image: url("img/smallFlower.png");
}

#frame3 {
    background-image: url("img/smallFlower2.png");
}

#frame4 {
    background : darkred;
}

.inputfile + label {
    cursor:  pointer;
    font-family: Arial;
    padding: 10px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.save {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid white;
}
