.top_bar {
  height: 9vh;
  background-color: grey;
}

.menu {
  margin: 0 auto;
  height:95px;
  width: 500px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.box_menu {
  display:inline-block;
  height:70px;
  width:100px;
    background-size: 60%;
    background-repeat: no-repeat;
}

.box1 {
    background-image: url("img/home.png");

}

.box2 {
    background-image: url("img/album.png");
}

.box3 {
    position: absolute;
    right: 15px;
    top: 15px;
    background-image: url("img/logout.png");
}

.border {
  border-color: yellow;
  border-style: dashed;
  border-width: 2px;
  max-width: 800px;
}

.wrapper {
  height: 91vh;
    border-color: blue;
    border-style: dashed;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    /*background-color: green;*/
  
}

.center {
  height:50vh;
  display:flex;
  align-items:center;
  justify-content:center;
  border-color: blue;
  border-style: dashed;
  border-width: 2px;
  margin:100px;
}

.center h1{
  margin:10;
}

.left_side {
  display: inline-block;
  height: 100%;
  width:50%;
  background-color:darkgrey;
  margin: 0;
}

.right_side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 50px;
}

.right_side img{
  width: 30%;
}

.stream {
    display: flex;
    flex-direction: column;
}

.video{
  transition: all .5s linear;
  width: 640px;
  height: 480px;
}

.buttons{
    display: flex;
    padding: 5px;
    margin: 0 auto;
}

.buttons h2 {
    font-size: 2em;
    font-family: Arial;
    font-weight: 600;
}

#snap {
    font-family: Arial;
    font-size: 1.25em;
    font-weight: 600;
    color: #ffffff;
    border: none;
    background: #14264b;
    text-decoration: none;
}

#snap:hover {
    background: #23467a;
    text-decoration: none;
}

.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.photoshop {
    display: flex;
    width: 800px;
}

.canvasDiv {
    background: steelblue;
}

.canvasDiv {
    position: relative;
    width: 480px;
    height: 360px;
}

#layer1 {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

#layer2 {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

#layer3 {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

.frames {
    display: flex;
}

#frame1 {
    background: darkred;
    width: 30px;
    height: 30px;
    margin: 5px;
}

#frame2 {
    background: darkblue;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.inputfile + label {
    cursor:  pointer;
    font-family: Arial;
    padding: 10px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
