@font-face {
    font-family: Noto;
    src: url(NotoSans-Regular.ttf);
}

.top_bar {
  height: 100px;
  background-color: whitesmoke;
}

.menu {
    height: 100%;
    width: 60%;
}

.nav {
    text-align: center;
}

.nav li {
    display: inline;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.75em;
    font-family: Noto;
}

@media (max-width: 1333px) {
    .top_welcome h1 {
        padding-top: 50px;
    }

    .nav {
        margin: 20px;
    }

    .nav li a{
        color : white;
    }
}

@media (min-width: 1333px) {
    .nav {
        margin-top: -66px;
    }

    .nav li:nth-child(1){
        float: left;
    }

    .nav li:nth-child(2){
        float: right;
    }

}


.title {
    background: url("img/titreBlack.png") no-repeat;
    background-size: 100% auto;
    width: 550px;
    height: 100px;
}

.box_menu {
  display:inline-block;
  height:70px;
  width:100px;
    background-size: 60%;
    background-repeat: no-repeat;
}

.box1 {
    background-image: url("img/home.png");

}

.box2 {
    background-image: url("img/album.png");
}

.box3 {
    position: absolute;
    right: 15px;
    top: 15px;
    background-image: url("img/logout.png");
}

.border {
  border-color: springgreen ;
  border-style: dashed;
  border-width: 2px;
}

#upper {
    display: flex;
    color: red;
}

.wrapper {
    height: 100%;
    border-color: blue;
    border-style: dashed;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    background: url("img/main_bg.png") no-repeat;
    background-position-x: center;
}

.top_welcome {
    padding: 10;
}

.center h1{
  margin:10;
}

.left_side {
    display: inline-block;
    height: 100%;
    width:50%;
    background-color:darkgrey;
    margin: 0;
}

.right_side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    width: 70%;
    min-width: 400px;
    padding-bottom: 10px;
    background-color: rgba(21, 49, 34, 0.27);
    border: solid 1px rgb(26, 47, 63);
}

.right_side img{
  width: 30%;
}

.mini_gal_upper {
    width: 100%;
    background: #1a2f3f;
    display: flex;
    color: white;
    margin-bottom: 10;
}

.mini_gal {
    display: flex;
    align-items: center;
}

.stream {
    display: flex;
    flex-direction: column;
    padding: 20 30 0;
}

.video{
  transition: all .5s linear;
  width: 640px;
  height: 480px;
}

.buttons{
    font-family: Noto;
    display: flex;
    padding: 5px;
    margin: 0 auto;
    margin: 20px;
}

.buttons h2 {
    font-size: 2em;
    font-family: Arial;
    font-weight: 600;
}

#snap {
    font-size: 1.25em;
    font-weight: 600;
    color: #ffffff;
    border: none;
    background: #14264b;
    text-decoration: none;
}

#snap:hover {
    background: #23467a;
    text-decoration: none;
}

.inputfile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.photoshop {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cols {
    display: flex;
}

.col1 {
    order : 3;
    background-color: rgba(22, 40, 49, 0.18);
    border: solid rgb(26, 47, 63);
    /*background: #23467a;*/
    /*box-shadow: 0 0 10px #14264b;*/
}

.col1 p {
    padding: 10px;
    background-color: #1a2f3f;
    color: white;
}

.col2 {
    order:2;
    border: solid rgb(26, 47, 63);
    margin-left: 20px;
    margin-right: 20px;
}

.col3 {
    order : 1;
    border: solid rgb(26, 47, 63);
    background-color: rgba(22, 40, 49, 0.18);
    /*background: #23467a;*/
    /*box-shadow: 0 0 10px #14264b;*/
}

.col3 p {
    padding: 10px;
    background-color: #1a2f3f;
    color: white;
}

.canvasDiv {
    background: steelblue;
}

.canvasDiv {
    position: relative;
    width: 480px;
    height: 360px;
}

#layer1 {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

#layer2 {
    display: none;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

#layer3 {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 480px;
}

.frames {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.frame {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: solid #1d3a58 1px;
}


.frame:hover {
    background: green;
    opacity: 0.1;
}

.stamp {
    width: 70px;
    height: 60px;
    margin-top: 20px;
}

#stamp1 {
    background-image: url("img/Fedora.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
}

#frame1 {
    background-image: url("img/fireSmall.png");
}

#frame2 {
    background-image: url("img/smallFlower.png");
}

#frame3 {
    background-image: url("img/smallFlower2.png");
}

#frame4 {
    background : darkred;
}

#delete {
    width: 20px;
    height: 20px;
    background-image: url("img/delCom.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    position: relative;
    float: right;
    margin: 5px;
}

#delete:hover {
    opacity: 0.2;
}

.inputfile + label {
    cursor:  pointer;
    padding: 10px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

#save {
    display: inline-block;
    font : bold 1em sans serif;
    color: black;
    background-color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 150px;
    height: 50px;
    /*transition: all 0.5s;*/
    cursor: pointer;
    margin: 5px;
}

#save span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#save span:after {
    content: '\0025BC';
    position: absolute;
    color: white;
    opacity: 1;
    top: 0;
    left: 65px;
    transition: 0.5s;
}

#save span:before {
    content: '\0025BC';
    position: absolute;
    color: white;
    opacity: 1;
    top: 0;
    left: -35px;
    transition: 0.5s;
}

#save:hover {
    outline: none;
    background: black;
    color: white;
}

textarea {
    border: 1px solid #888;
    width: 500px;
    height: 150px;
    font-size: inherit;
    resize: none;
}

.comments {
}

.comment {
    margin-top: 20px;
    min-height: 75px;
    background: #24475f;
    width: 500;
    color: whitesmoke;
    font-family: Noto;
    font-size: 12;
    position: relative;
}

#content {
    font-family: Noto;
    padding: 30;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#username {
    font-size: 15;
    position: absolute;
    top: 5px;
    left: 5px;
}

#date {
    font-style: italic;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.image {
    position: relative;
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: -70px;
    top: 140px;
}

i {
    border: solid black;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 12px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border-color: green;
}

.up:hover {
    border-color: #00c500;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-color: darkred;
}

.down:hover {
    border-color: #d90008;
}

.gal_img {
    padding: 10px;
}

.gal_img img {
    width: 15vw;
    min-width: 200px;
}

.img_name {
    position: absolute;
    width: 100px;
    height: 50px;
    background: rgba(1, 1, 1, 0.6);
    color: white;
    border-bottom-right-radius: 7px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.img_name p{
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Noto;
    font-size: 0.9em;
    margin: 6px;
}

.info {
    background: whitesmoke;
    display: flex;
    min-height: 30px ;
    position: relative;
}

.votes {
    font-size: 0.7em;
    position: absolute;
    right:10px;
    top: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.plus {
    color: green;
}

.minus {
    color: red;
}