
/*http://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_webpage&stacked=h*/

body {
    margin: 0;
    background-color: #222222;
}

.alert{
    color: white;
    font : 1em;
    background-color: darkred;
    width: 540px;
    height: 2em;
    margin-bottom: 1em;
}

.glyphicon{
    background-image: url("img/alert-icon-1575.png");
}


.msg{
    padding: 10px;
}

.menu{
    width: 10%;
    display : inline-block;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

header {
    display: inline-block;
    padding: 10px;
    position : absolute;
    width : 100%;
}

.form-container {
    display: inline-block;
    padding: 2em;
    position: absolute;
    width: 100%;
    font: 21px sans-serif;
    color: white;
}

.logo {width: 100%
}

.btn{
    padding: 5px 30px;
    font: bold 1em sans serif;
    color: black;
    border: 2px solid white;
    background: white;
}

.btn:hover, .btn:focus{
    outline: none;
    background: #000;
    color: #FFF;
}

.css-input {
    font : 1em  sans-serif;
    border: none;
    padding: 0 10px;
    margin: 0;
    margin-bottom: 20px;
    width: 540px;
    background: white;
    height: 2em;
}

.css-input:focus {
    outline: none;
}


    .header {
    display: inline-block;
    padding: 10px;
    position : absolute;
    width : 100%;
}

.content {
    margin-top: 50px;
    padding: 10px;
    display: inline-block;
    position: absolute;
 }

.top_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 5%;
    overflow: hidden;
}

ul.side_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    height: 100%;
    overflow: auto;
}

ul.form {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

h2 {font-size: 4em;
    text-align: center;
    color: white;
}

li {
    text-align: center;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

ul.side_nav li a:hover {
    background-color: #555;
    color: white;
}

a.active {
    background-color: #4CAF50);
    color: white;
}
